body {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(100%, rgba(0, 0, 250, 0.5)), to(rgba(0, 0, 250, 0.5))),url("img/spftware-development-team.jpg");
  background:linear-gradient( rgba(0, 0, 250, 0.5) 100%, rgba(0, 0, 250, 0.5)100%),url("img/spftware-development-team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-content {
  flex-shrink: 3;
  -webkit-box-flex: 5;
          flex-grow: 5;
}

.advert {
  flex-shrink: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}


form#survey-form {
  background-color: rgba(0, 0, 0, 0.6);
}
