body {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(100%, rgba(0, 0, 250, 0.5)), to(rgba(0, 0, 250, 0.5))),url("img/spftware-development-team.jpg");
  background:linear-gradient( rgba(0, 0, 250, 0.5) 100%, rgba(0, 0, 250, 0.5)100%),url("img/spftware-development-team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

#title {
  font-size: 1.5rem;
  font-weight: 500;
}

#description {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

form#survey-form {
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 50vw;
  border-radius: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

form#survey-form div {
  width: 90%;
  margin: 15px 0;
}

form#survey-form div:first-child {
  margin-top: 40px;
}

form#survey-form div:last-child {
  margin-bottom: 60px;
}

form#survey-form .question {
  display: block;
  margin-bottom: 10px;
}
form#survey-form .full-width-input{
  display: block;
  width: 97%;
  height: 30px;
}
form#survey-form .full-width {
  display: block;
  width: 100%;
  height: 30px;
}

form#survey-form textarea {
  display: block;
  width: 100%;
}
form#survey-form span {
  font-size: 0.8rem;
}

form#survey-form  button {
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
  font-size: 0.9rem;
  border: 0px;
  border-radius: 5px;
  background: rgba(0, 255, 0, 0.5);
}
